@font-face {
    font-family: "PlayfairDisplay-Italic";  
    src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal;
}
@font-face {
    font-family: "PlayfairDisplay";  
    src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Post No Bills Jaffna Bold";  
    src: url("../fonts/PostNoBillsJaffna-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 700;
}
@font-face {
    font-family: "PT Sans-Bold";  
    src: url("../fonts/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700;
}
@font-face {
    font-family: "PT Sans-Bold-Italic";  
    src: url("../fonts/PTSans-BoldItalic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 700;
}
@font-face {
    font-family: "PT Sans-Italic";  
    src: url("../fonts/PTSans-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 400;
}
@font-face {
    font-family: "PT Sans-Regular";  
    src: url("../fonts/PTSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}