@import "vars";
@import "reset";
@import "fonts";
html {
    font-size: 62.5%;
}
body {
    background-color: $black;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;
}
/* Style for Wrapper */
@import "blocks/page";
/* Style for Container */
@import "blocks/container";
/* Style for Header */
@import "blocks/header";
