@import "vars";
@import "reset";
@import "fonts";
html {
    font-size: 62.5%;
}
body {
    background-color: $black;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.4rem;
    color: $white;
}
/* Style for Wrapper */
@import "blocks/page";
/* Style for Container */
@import "blocks/container";
/* Style for Header */
@import "blocks/header";
/* Style for Navigation */
@import "blocks/nav";
/* Style for Main Block */
@import "blocks/main";
/* Style for Content Block */
@import "blocks/content";
/* Style for Content Block */
@import "blocks/brands";
/* Style for Footer */
@import "blocks/footer";
/* Style for Catalog Block */
@import "blocks/catalog";
/* Style for Form */
@import "blocks/form";