.catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint($mobile-bp) {
        justify-content: center;
    }
    
    &__item {
        padding: 1rem 2rem;
        background-color: $background-gray;
        margin-right: 2rem;
        margin-bottom: 2rem;
        color: $white;
        transition: .1s linear;

        &:hover {
            background-color: $white;
            color: $black;
        }
        
    }
}