.header {
    
    &__img {
        width: 1.4rem;
        height: 1.4rem;
    }
    
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 0;
        font-family: 'PT Sans-Regular', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        color: $text-gray;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__info {
        margin-left: 1.5rem;
    }
    &__space {
        margin-left: 1.5rem;
    }
    &__link {
        color: $text-gray;
        text-decoration: none;
        margin: 0.5rem;
        transition: .1s linear color;
        &:hover {
            color: $white;
        }
    }
}