.nav {
    background-color: $background-gray;
    @include breakpoint($mobile-bp) {
        transform: translateY(-100%);
        transition: .1s linear transform;
        padding: 2.5rem 0;
        .show-sidebar & {
            transform: translateY(0);
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        @include breakpoint($mobile-bp) {
            flex-direction: column;
            height: 100%;
        }
    }

    &__logo {
        font-family: "Post No Bills Jaffna Bold";
        font-weight: 700;
        font-size: 3.6rem;
        color: $white;
    }

    &__menu {
        display: flex;
        @include breakpoint($mobile-bp) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__links {
        display: flex;   
    }

    &__link {
        color: $text-gray;
        font-family: "PT Sans-Regular";
        font-weight: 400;
        padding: 3rem 2rem 3rem 2rem;
        transition: .1s linear;
        &:hover {
            background-color: #1F1F1F;
            color: $white;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        @include breakpoint($mobile-bp) {
            justify-content: center;
        }
    }

    &__button {
        &:first-child {
            margin: 0 4rem;
        }

        @include breakpoint($mobile-bp) {
            margin: 0 1.5rem;

            &:first-child {
                margin: 0 1.5rem;
            }
        }
    }

    
}